dex:
  config:
    connector: ldap
    ldap:
      host: ldaps.example.com:636
      bindDN: cn=admin,dc=scott,dc=net
      bindPW: admin
      usernamePrompt: Email Address
      userSearch:
        baseDN: 'ou=people,dc=example,dc=com'
        filter: '(objectClass=person)'
        username: userPrincipalName
        idAttr: DN
        emailAttr: userPrincipalName
        nameAttr: 'cn'
      groupSearch:
        baseDN: 'ou=group,dc=example,dc=com'
        filter: '(objectClass=group)'
        userAttr: DN
        groupAttr: "memberOf"
        nameAttr: cn
